.services-container {
  display: flex;
  justify-content: center;
}

.services-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.services-section h2 {
  color: #004080;
  font-size: 36px;
  margin-bottom: 10px;
}

.services-section p {
  color: #333;
  font-size: 18px;
  margin-bottom: 40px;
}

.services {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.service-card {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
  position: relative;
}

.service-icon {
  font-size: 48px;
}

.service-card:hover {
  transform: scale(1.1);
  background-color: #004080;
  color: white;
}

.service-card .learn-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.service-card:hover .learn-more {
  opacity: 1;
}

.service-card .learn-more span {
  float: right;
}
